<div class="card">
  <div class="card-body"
    [ngStyle]="{'background-image':'url('+character.image+')'}">

    <span class="card-icon" [class.favorite]="character.favorite"
      (click)="toogleFav(character)">
      <fa-icon
        [icon]="character.favorite? faHeartSolid : faHeartRegular"></fa-icon>
    </span>
  </div>

  <div class="card-footer">
    <h3 class="card-name">{{character.name}}</h3>
    <h4 class="card-type">{{character.species}}</h4>
    <h4 *ngIf="character.type" class="card-type">{{character.type}}</h4>
  </div>
</div>
