<header class="header">
  <div class="logo">
    <img src="/assets/img/rick-and-morty-logo-tiny.png"
      alt="rick and morty logo"
      width="114px" height="64px">
  </div>

  <div class="btn-group">
    <button class="btn" [class.is-black]="currentLanguage == 'en'"
      (click)="changeLanguage('pt')">
      pt-br
    </button>
    <button class="btn" [class.is-black]="currentLanguage == 'pt'"
      (click)="changeLanguage('en')">
      en-us
    </button>
  </div>

  <nav class="menu">
    <div class="btn-group">
      <a class="btn" [class.is-black]="currentPage == '/favoritos'"
        [routerLink]="['/']">

        <fa-icon [icon]="faHouse"></fa-icon>

        {{ 'words.beginning' | translate }}
      </a>

      <a class="btn" [class.is-black]="currentPage == '/'"
        [routerLink]="['/favoritos']">

        <fa-icon [icon]="faHeart"></fa-icon>

        {{ 'words.favorites' | translate }}

        <span class="total">
          {{total}}
        </span>
      </a>
    </div>
  </nav>
</header>
