<header class="header">
  <h1>{{ 'words.beginning' | translate }}</h1>

  <div>
    <label for> {{ 'words.search' | translate }}</label>
    <input type="search" [formControl]="formControlSearch">
  </div>
</header>

<ng-container *ngIf="characters$ | async as characters">
  <section *ngIf="characters.length;else empty" class="grid-gap">
    <ng-container *ngFor="let character of characters">
      <app-card-character [character]="character"
        (toggleFvorite)="changeFav($event)" #characterList></app-card-character>
    </ng-container>
  </section>
</ng-container>

<div *ngIf="isLoading" class="dots">
  {{ 'words.loading' | translate }}
  <app-loader-dots></app-loader-dots>
</div>

<ng-template #empty>
  <app-empty-content
    *ngIf="!isLoading"
    [title]=" 'sentences.empty.title' | translate"
    [subtitle]="'sentences.empty.title' | translate">
  </app-empty-content>
</ng-template>
