$btn-height: 4rem;
$btn-minWidth: 6rem;
$btn-maxWidth: 140px;

$btn-border-width: $border-width;
$btn-border-color: $smoke;
$btn-radius: $border-radius;

$btn-family: $text-family;
$btn-font-size: $font-mini;
$btn-flat-font-size: $font-mini;
