/*--------------------------------------------------
                Objective Design system - colors
----------------------------------------------------*/
$black: #0A0A0A;
$dark-smoke: #1F1F1F;
$smoke: #3D3D3D;
$dark-snow: #A4A4A4;
$snow: #e5e5e5;
$white: #ffffff;

$red: #e72915;
$red-dark: #aa0000;
$red-light: #ffa39a;

$pink: #ee3771;
$pink-dark: #be175e;
$pink-light: #f290b1;

$purple: #c464db;
$purple-dark: #962eaa;
$purple-light: #cd95d7;

$blue: #5dafff;
$blue-shine: #0063F7;
$blue-dark: #167abc;
$blue-light: #b5e5fb;

$green: #53b873;
$green-dark: #15955a;
$green-light: #9dcb6a;

$yellow: #ffcf0f;
$yellow-dark: #e2ae33;
$yellow-light: #fce196;

$orange: #fa6a01;
$orange-dark: #e64e29;
$orange-light: #ffb25d;

/*--------------------------------------------------
                Dark Shades colors
----------------------------------------------------*/
$dark-shades: (
  red: $red-dark,
  pink: $pink-dark,
  purple: $purple-dark,
  blue: $blue-dark,
  green: $green-dark,
  yellow: $yellow-dark,
  orange: $orange-dark
);


:root {
  --color-black: #{$black};
  --color-dark-smoke: #{$dark-smoke};
  --color-smoke: #{$smoke};
  --color-dark-snow: #{$dark-snow};
  --color-snow: #{$snow};
  --color-white: #{$white};

  --color-brand: #{$brandColor};
  --color-brand-second: #{$brandColor2};
}
